@import '../global/mixins';
@import '../global/variables';
@import '../global/animations';

/* CONTENT ROTATION */

.mode-4:nth-child(1) div span,
.mode-4:nth-child(3) div span {
  rotate: $rotate-plus-90;
}
.mode-4:nth-child(2) div span,
.mode-4:nth-child(4) div span {
  rotate: $rotate-minus-90;
}

/* GEAR ICON POSITIONING */

.mode-4:nth-child(3) .gear-icon,
.mode-4:nth-child(4) .gear-icon {
  top: 0;
}

.mode-4:nth-child(1) .gear-icon,
.mode-4:nth-child(2) .gear-icon {
  bottom: 0;
}

.mode-4:nth-child(2) .gear-icon,
.mode-4:nth-child(4) .gear-icon {
  right: 0;
}
.mode-4:nth-child(1) .gear-icon,
.mode-4:nth-child(3) .gear-icon {
  left: 0;
}

/* BORDERS */
.mode-4:nth-child(1) {
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}
.mode-4:nth-child(2) {
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
}
.mode-4:nth-child(3) {
  border-right: 1px solid #000;
  border-top: 1px solid #000;
}
.mode-4:nth-child(4) {
  border-left: 1px solid #000;
  border-top: 1px solid #000;
}

.mode-4 .controls {
  grid-template-rows: repeat(3, 1fr);
}

.mode-4:nth-child(2) .controls,
.mode-4:nth-child(4) .controls {
  .increment {
    grid-area: 1 / 1;
  }
  .decrement {
    grid-area: 3 / 1;
  }
}
