@import '../../assets/styles/global/animations';
@import '../../assets/styles/global/variables';
@import '../../assets/styles/global/mixins';

.counter {
  position: absolute;
  // margin: 0 auto;
  // padding: .3rem;
  width: fit-content;
  height: fit-content;
  font-size: .3em;
  // align-items: center;
}

.fade-out {
  animation-name: fade-out-down;
  animation-duration: 800ms;
  animation-fill-mode: forwards;
}

.player-3.mode-3 .counter,
.mode-2 .counter {
  top: 5.5em;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.player-1.mode-3 .counter,
.player-1.mode-4 .counter,
.player-3.mode-4 .counter {
  top: 0;
  bottom: 0;
  right: 5.5em;
  left: 0;
  margin: auto;
}
.player-2.mode-3 .counter,
.player-2.mode-4 .counter,
.player-4.mode-4 .counter {
  top: 0;
  bottom: 0;
  right: 0;
  left: 5.5em;
  margin: auto;
}