$rotate-minus-90: -90deg;
$rotate-plus-90: 90deg;

$left: left;
$right: right;

/* COLORS */
$dark-red: #85182A;
$light-red: #B21E35;
$dark-green: #2D6A4F;
$light-green: #52B788;
$dark-blue: #0077B6;
$light-blue: #00B4D8;
$dark-black: #343A40;
$light-black: #6C757D;
$dark-white: #FFF2B2;
$light-white: #FFFAE5;

:root {
  --dark-red: #85182A;
  --light-red: #B21E35;
  --dark-green: #2D6A4F;
  --light-green: #52B788;
  --dark-blue: #0077B6;
  --light-blue: #00B4D8;
  --dark-black: #343A40;
  --light-black: #6C757D;
  --dark-white: #FFF2B2;
  --light-white: #FFFAE5;

  --gradient-direction: to right;
}


$offwhite: #f8f6e8;