@import '../../assets/styles/global/animations';
@import '../../assets/styles/global/variables';
@import '../../assets/styles/global/mixins';

.logo-container {
  position: absolute;
  border: 1px solid #000;
  inset: 50%;
  transform: translate(-50%, -50%);
  padding: 1.5rem;
  background-size: cover;
  border-radius: 50%;
  background-image: url('../../../assets/images/mtglogo-colored.png');
  z-index: 2;
}

.hide {
  animation-name: hide-me;
  animation-duration: 20s;
}

.menu {
  position: absolute;
  inset: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background-color: #303030;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  z-index: 2;
  color: #fff;
}

.carousel-container {
  width: 100%;
  margin: 0 auto;
}

.expand {
  width: 100%;
  height: 60px;
  animation-name: hide-me;
  animation-duration: 600ms;
}

.icon:nth-child(2),
.icon:nth-child(3) {
  padding: 1px;
}

.party-size {
  position: relative;
  @include flex(space-between, center);
  width: 35%;
}